body{

}

.container-principal{
    margin: 0%;
}

/*https://www.youtube.com/watch?v=sOyA84uhoCQ
http://www.w3schools.com/jsref/prop_style_display.asp
https://norfipc.com/inf/javascript-como-ocultar-mostrar-elementos-paginas-web.html*/